/* html * {
	border: 1px solid red;
} */

html {
	text-align: center;
}

body {
	margin-top: 20px;
}

/*Add the word "Password" in front of a generated password*/
#generated-password::before{
	content: "Password: ";
}

#btn-increment, #btn-decrement {
	margin: 5px;
	width: 3em;
	height: 1.5em;
}

#word-count-settings-box {
	margin: 20px 0px 0px 0px;
}

#letter-capitalization-settings-box {
	margin: 20px 0px 0px 0px;
}
#letter-capitalization-settings-box > ul {
	margin: 10px auto auto auto;
	max-width: 15em;
	text-align: left;
}

#btn-generate {
	margin: 20px 0px 0px 0px;
	width: 10em;
	height: 2em;
}

#generated-password {
	margin: 20px 0px 0px 0px;
	height: 2em;
	overflow-wrap: break-word;

	font-size: 1.5em;
	color: darkgreen;
}

#weak-password-warning {
	padding-top: 10px;
	height: 1.5em;
	font-size: 1.5em;
	color: darkred;
}

#information-and-disclaimer-separator {
	margin-top: 3rem;
}

#more-information-box {
	margin: 10px 10px 10px auto;

}

#disclaimer-title {
	margin: 10px 10px 10px auto;
}

#disclaimer-information {
	margin: 10px 10px 10px auto;
}

/*Text sizes*/

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
	body {
		max-width: 1000px;
		margin: 20px auto auto auto;
	}
}